{% apply inline_css(source('@css/email.css')) %}

<table style="border:1px;margin:0;padding:0;">
<tr>
<td>
<img src="{{ email.image('@img/chesspieces/wikipedia/bK.png') }}" alt="Black King">
</td>
<td>
<img src="{{ email.image('@img/chesspieces/wikipedia/wQ.png') }}" alt="White Queen">
</td>
<td style="padding: 0 10px;"><span style="font-size:13pt;font-weight:bold;">CHESS<br/>CHEAT</span></td>
<td>
<img src="{{ email.image('@img/beta1.png') }}" alt="Beta">
</td>
</tr>
</table>

<h3>Dear {{ firstName }}!</h3>

<p>The following game's analyses are complete. You can view the full report at ChessCheat
  by clicking on the Analysis icon.</p>

<table>
<tr>
  <th>#</th>
  <th>White</th>
  <th>Black</th>
  <th>Result</th>
  <th>ECO</th>
  <th>Event</th>
  <th>Date</th>
  <th>Analysis</th>
</tr>

{% for i in game %}

<tr>
  <td>{{ i + 1 }}</td>
  <td>{{ cycle(white, i) }} ({{ cycle(white_elo, i) }})</td>
  <td>{{ cycle(black, i) }} ({{ cycle(black_elo, i) }})</td>
  <td>{{ cycle(result, i) }}</td>
  <td>{{ cycle(eco, i) }}</td>
  <td>{{ cycle(event, i) }}</td>
  <td>{{ cycle(date, i) }}</td>
  <td><a href="{{ cycle(link, i) }}">
  <img src="{{ email.image('@img/analysis.png') }}" alt="Analysis"></a></td>
</tr>

{% endfor %}

</table>

<p>Regards,<br/>
ChessCheat
</p>

{% endapply %}
