{% extends 'base.html.twig' %}

{% block title %}ChessCheat{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="css/chessboard-0.3.0.min.css" />
<link rel="stylesheet" href="css/jquery.tagsinput-revisited.min.css" />
<link rel="stylesheet" href="css/chesscheat.css" />
{% endblock %}

{% block body %}

<div>
<div style="float:left;">
<!-- Tab links -->
<div class="tab">
  <button onclick="openTab(event, 'Analyze')">
<table style="border:1px;margin:0;padding:0;">
<tr>
<td><img src="img/chesspieces/wikipedia/bK.png" width="48" alt="Black King" title="Black King"/></td>
<td><img src="img/chesspieces/wikipedia/wQ.png" width="48" alt="White Queen" title="White Queen"/></td>
<td style="padding: 0 10px;"><span style="font-size:13pt;font-weight:bold;">CHESS<br/>CHEAT</span></td>
<td><img src="img/beta1.png" width="30" alt="beta" title="Beta testing is still in progress"/></td>
</tr>
</table>
  </button>
  <button class="tablinks" onclick="openTab(event, 'Upload')" id="uploadTab">
<img src="img/upload.png" style="float:left"/>&nbsp;&nbsp;Upload</button>
  <button class="tablinks" onclick="openTab(event, 'Search')" id="searchTab">
<img src="img/search.png" style="float:left"/>&nbsp;&nbsp;Search</button>
  <button class="tablinks" onclick="openTab(event, 'Queue')" id="queueTab">
<img src="img/queue.png" style="float:left"/>&nbsp;&nbsp;Queue</button>
  <button class="tablinks" onclick="openTab(event, 'Analyze')" id="analysisTab">
<img src="img/analysis.png" style="float:left"/>&nbsp;&nbsp;Analyze</button>
</div>
</div>
<div style="float:right;height:59px;display: table; width:275px;">
<span style="font-size: 16pt;vertical-align:middle;display: table-cell; ">
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
{{ app.user.email }}&nbsp;<a href="/logout">Logout</a>
{% else %}
<a href="/connect">Login</a>
{% endif %}
</span>
</div>

</div>

<!-- Tab content -->
<div id="Upload" class="tabcontent">

<table style='width:100%'><tr><td style="vertical-align:top">
  <h3>Upload Game(s)</h3>

{{ form_start(form) }}

<p>You can upload your own game(s) into our database.
Then you will be able to submit your games for analysis.
Once the processing is complete you can analyze your games.</p>
<p>
Use the form below to upload your game(s).
Paste your game(s) in PGN format below and press Import button.
Maximum file size is 1M</p>
<!--
<p>Allowed file types are .pgn and .txt
 or archives .zip .gz
-->
</p>

    {{ form_row(form.text) }}

<!--
<p>Now, solve simple chess captcha in order to prevent automated uploads.</p>


    <input type="submit" value="Upload PGN" name="submit"
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
{% else %}
	disabled="disabled"
{% endif %}
>
-->

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
{% else %}
    <br/><span style="font-style:italic">You must <a href="/connect">login</a> before you can upload your games.</span>
{% endif %}

{{ form_row(form.submit) }}

{{ form_end(form) }}

</td>

<td valign="top" style='width:300px'>

<button class="u-accordion active-accordion">Supported file formats</button>
<div class="u-panel" style="max-height: 200px;">
  <p><abbr title='Portable Game Notation'>PGN</abbr> is the standard text format for chess games.
  You can upload multiple games stored in single PGN file.</p>
  <p>In order to save bandwidth you can compress your PGN file uzing ZIP or Gzip.</p>
  <p>Supported file formats are <b>.pgn .txt .zip .gz</b>
</div>

<button class="u-accordion">Database insertion speed</button>
<div class="u-panel">
  <p>If you only pasted a single game or uploaded a PGN file with a dozen of
  chess games your games will appear in the database instantly.</p>
  <p>But if your submission contains hundreds of games it might take a few minutes
  before you can find them in the Search tab.</p>
</div>

<button class="u-accordion">Upload limit and file size</button>
<div class="u-panel">
  <p>There is no upload limit at the moment. You can submit as many games as you like.
  But we encourage you to only upload games you would like to analyze.</p>
  <p>In order to optimize database workload we limit the size of single submission to 1MB.</p>
</div>

<button class="u-accordion">Contact support team</button>
<div class="u-panel">
  <p>We are ready to answer all your questions.
  Please <a href="mailto:support@chesscheat.com?subject=upload" target="_blank">email us</a> and describe the issue in details.</p>
</div>

</td>

</tr>
</table>

</div>

<!-- Tab content -->
<div id="Search" class="tabcontent">
<table><tr><td style="vertical-align:top">
<!--
  <h3>Predefined Tags</h3>
<div class="predefinedTags">
<b>Game result</b><br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( '1-0');" checked="checked">White wins<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( '0-1');">Black wins<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( '1/2-1/2');">Draw<br/>
<b>Final position</b><br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'checkmate');" checked="checked">Checkmate<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'checkmate by king');">Checkmate by King<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'checkmate by pawn');">Checkmate by Pawn<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'checkmate by rook');">Checkmate by Rook<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'checkmate by queen');">Checkmate by Queen<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'checkmate by bishop');">Checkmate by Bishop<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'checkmate by knight');">Checkmate by Knight<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'stalemate');">Stalemate<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'stalemate by king');">Stalemate by King<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'stalemate by pawn');">Stalemate by Pawn<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'stalemate by rook');">Stalemate by Rook<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'stalemate by queen');">Stalemate by Queen<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'stalemate by bishop');">Stalemate by Bishop<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'stalemate by knight');">Stalemate by Knight<br/>
<b>Analysis</b><br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'pending');">Pending<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'processing');">Processing<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'complete');" checked="checked">Complete<br/>
<b><abbr title='Encyclopedia of Chess Openings'>ECO</abbr> codes</b><br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'D44');">D44<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'E99');">E99<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'A41');">A41<br/>
<b>Special tags</b><br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'effectiveResult');">effective result<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'resultMismatch');">result mismatch<br/>
<b>Engines</b><br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'Stockfish 051117');">Stockfish 051117<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'Houdini 6.02');">Houdini 6.02<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'Deep Fritz 10');">Deep Fritz 10<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'Comp Deep Blue');">Comp Deep Blue<br/>
<b>Players</b><br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'Anand, Viswanathan');">Anand, Viswanathan<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'Kramnik, Vladimir');">Kramnik, Vladimir<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'Kasparov, Gary');">Kasparov, Gary<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'lemon79');">lemon79<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'Tutolmin,A');">Tutolmin,A<br/>
<b>Cheaters</b><br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'lnechessm');">lnechessm<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'Daldrup');">Daldrup<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'Fili1981');">Fili1981<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'bss180');">bss180<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'snukerok');">snukerok<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'DNISTER62');">DNISTER62<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'Magic2240');">Magic2240<br/>
<b># of moves</b><br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( '10 moves');">10 moves<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( '20 moves');">20 moves<br/>
<b># of deltas</b><br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( '5 deltas');">5 deltas<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( '10 deltas');">10 deltas<br/>
<b># of analyzed plies</b><br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( '10 qplies');">10 qplies<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( '10 qplies');">20 qplies<br/>
<b>ELO range</b><br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( '1000+');">1000+<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( '2000+');">2000+<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( '1500-');">1500-<br/>
</div>
</td>
<td style="vertical-align:top">
  <p>In order to find a particular game in the database enter player name,
  game result or start typing to select relevant tag from the dropdown list.
  <br/>You can also use some example tags shown below.
  Browse the game list with navigation buttons and sort it by date or # of game moves.</p>
  -->
  <table border=0 cellpadding=0 cellspacing=0><tr><td>
  <span style="font-size:22pt;float:left;">Tags:</span>
  </td>
  <td style="width:850px;">
  <form id="form"><input id="form-tags" name="tags" class="tagsinput" type="text"></form>
  </td>
  <td>
  <div id="tagsReload"	class="boardReload">
   <a href="#" title='Reload games'>
    <img src="img/reload.png" style="padding-left:5px;"/>
   </a>
  </div>
  </td>
  <td>
  <div id="tagsDelete"	class="boardFlip">
   <a href="#" title='Delete all tags'>
    <img src="img/delete.png" style="padding-left:5px;"/>
   </a>
  </div>
  </td>
  </tr>
  </table>
<span style="font-size:12pt;float:left;padding-top:5px;">or use some of those:&nbsp;</span>
<span>
<button onclick="$('.tagsinput#form-tags').addTag( '1-0');">1-0</button>
<button onclick="$('.tagsinput#form-tags').addTag( '0-1');">0-1</button>
<button onclick="$('.tagsinput#form-tags').addTag( '1/2-1/2');">1/2-1/2</button>
<button onclick="$('.tagsinput#form-tags').addTag( 'checkmate');">checkmate</button>
<button onclick="$('.tagsinput#form-tags').addTag( 'stalemate');">stalemate</button>
<button onclick="$('.tagsinput#form-tags').addTag( 'C98');">C98</button>
<button onclick="$('.tagsinput#form-tags').addTag( 'E45');">E45</button>
<button onclick="$('.tagsinput#form-tags').addTag( 'A02');">A02</button>
<button onclick="$('.tagsinput#form-tags').addTag( 'Kramnik, Vladimir');">Kramnik</button>
<button onclick="$('.tagsinput#form-tags').addTag( 'Carlsen,M');">Carlsen</button>
</span>

  <div class="gameList" id="gameList"></div>

<table style="width:100%"><tr>
<td>
<div id="export_submit_group">
     <button type="submit"
             class="input_submit"
             style="margin-right: 15px;"
             onClick="exportGameList()"
>Export PGN
     </button>
</div>
</td>

{% if is_granted('ROLE_QUEUE_MANAGER') %}
<td>
<div id="delete_games_submit_group">
     <button type="submit"
             class="input_submit"
             style="margin-right: 15px;"
             onClick="deleteGamesList()"
>Delete
     </button>
</div>
</td>
{% endif %}

</td>
<td style="float:right;">
	<table><tr>
        <td><button onclick="setCookie('gl_page',0,1);loadGames();">First</button></td>
        <td><button onclick="setCookie('gl_page','prev',1);loadGames();">Prev</button></td>
        <td><button onclick="setCookie('gl_page','next',1);loadGames();">Next</button></td></tr>
	</table>
</td></tr>
<tr><td>
<div id="gamesActionStatus"></div>
</td></tr></table>

</td>
<td valign="top">

<button class="s-accordion active-accordion">Game search interface</button>
<div class="s-panel" style="max-height: 300px;">
  <p>Before you can submit your games for analysis you will need to find them in the database.
  You can do so by using the game search interface.</p>
  <p>When you enter some tag it narrows the search and shows only the games matching the criteria.
  You can enter several tags to only show the games that match all of them.</p>
  <p>Browse the game list with navigation buttons and sort it by date or total number of game moves.</p>
</div>

<button class="s-accordion">Available tags</button>
<div class="s-panel">
  <p>There are a lot of tags you can use to quickly find the game you need.
  If you know game result, enter: <b>1-0</b>, <b>0-1</b> or <b>1/2-1/2</b> for a draw.<p>
  <p>Player names are also can be used as a tag. Start typing the first letters
  and select the name from the drop-down list.</p>
  <p><abbr title='Encyclopedia of Chess Openings'>ECO</abbr> codes and game ending types
  such as <b>checkmate</b> or <b>stalemate</b> can also be used.</p>
</div>

<button class="s-accordion">Analysis types</button>
<div class="s-panel">
  <p>There are two types of analysis: <b>Fast</b> and <b>Deep</b>.
   The main purpose for the Fast analysis is to get fast evaluation of the game, check for blunders, etc.</p>
  <p>It is a good idea to only request Deep analysis for a game if Fast analysis did not show any errors
  and you suspect one of the players cheated.</p>
  <p>Deep analysis takes 3-5 times longer to complete.
  Deep analysis include calculation of the anti-cheat score.</p>
</div>

<button class="s-accordion">Analysis side</button>
<div class="s-panel">
  <p>When you submit a game for analysis you can select to only analyze the moves of a particular side,
  <b>White</b> or <b>Black</b>.</p>
  <p>For example: you have played White and suspect your opponent have cheated.
  You should select to only analyze Black moves in the game.</p>
</div>

<button class="s-accordion">Submission limit</button>
<div class="s-panel">
  <p>In order to provide quality service to all our users there is a submission limit for each user.
  If there are <b>more than 30</b> pending games you submitted in the analysis queue the system
  will not allow to add more until previous are processed.</p>
</div>

<button class="s-accordion">Request game analysis</button>
<div class="s-panel">

  <p>You can request game analysis by selecting the games in the table,
  specifying side to analyze <b>White/Black</b>,
  analysis depth <b>Fast/Deep</b> and clicking Submit.</p>
  <p>The game(s) will be placed in the analysis queue and you will receive an email
  when the analysis is complete.</p>

  <table>
    <tr>
      <td>
        <label for="sideToAnalyzeGroup">Side to analyze</label>
        <select style="float:left;" name="sideToAnalyzeGroup" id="sideToAnalyzeGroup">
        <option value="">Both</option>
        <option value="WhiteSide">White</option>
        <option value="BlackSide">Black</option>
        </select>
      </td>
      <td>
        <label for="AnalysisDepthGroup">Analysis type</label>
        <select style="float:left;" name="AnalysisDepthGroup" id="AnalysisDepthGroup">
        <option value="fast">Fast</option>
        <option value="deep">Deep</option>
        </select>
      </td>
      <td>
        <div id="analysis_submit_group">
             <button type="submit"
                     class="input_submit"
                     style="margin-right: 15px;"
                     onClick="processGameList()"
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% else %}
        	disabled="disabled"
        {% endif %}
        >Submit
             </button>
        </div>
      </td>
    </tr>
    <tr><td style="height:40px" colspan="3"><div id="processGameStatusGroup"></div></td></tr>
  </table>

  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
  {% else %}
  <br/><span style="font-style:italic">You must <a href="/connect">login</a> before you can request analysis.</span>
  {% endif %}

</div>

<button class="s-accordion">Contact support team</button>
<div class="s-panel">
  <p>We are ready to answer all your questions.
  Please <a href="mailto:support@chesscheat.com?subject=search" target="_blank">email us</a> and describe the issue in details.</p>
</div>

</td>

</tr>
</table>
</div>

<div id="Queue" class="tabcontent">
<table><tr><td style="vertical-align:top">
<!--
  <p>Tags for analysis requests selection are a little bit different. Please use predefined tags below</p>
  <span style="font-size:22pt;float:left;">Tags:&nbsp;
  <button style="float:right;" onclick="$('.tagsinput#queue-form-tags').importTags( '');loadQueue();">Delete all tags</button>
  </span><form id="queue_form"><input id="queue-form-tags" name="tags" class="tagsinput" type="text"></form>
<br/>
  <span style="font-size:18pt;float:left;">Predefined tags:&nbsp;</span>
-->
<table border=0 cellpadding=0 cellspacing=0><tr><td>
<span style="font-size:22pt;float:left;">Tags:</span>
</td>
<td style="width:850px;">
<form id="queue_form"><input id="queue-form-tags" name="tags" class="tagsinput" type="text"></form>
</td>
<td>
<div id="tagsReloadQueue"	class="boardReload">
 <a href="#" title='Reload queue'>
  <img src="img/reload.png" style="padding-left:5px;"/>
 </a>
</div>
</td>
<td>
<div id="tagsDeleteQueue"	class="boardFlip">
 <a href="#" title='Delete all tags'>
  <img src="img/delete.png" style="padding-left:5px;"/>
 </a>
</div>
</td>
</tr>
</table>
<span style="font-size:12pt;float:left;padding-top:5px;">or use some of those:&nbsp;</span>
<span>
<button onclick="$('.tagsinput#queue-form-tags').addTag( 'white');">White</button>
<button onclick="$('.tagsinput#queue-form-tags').addTag( 'black');">Black</button>
<!--
<button onclick="$('.tagsinput#queue-form-tags').addTag( 'fast');">Fast</button>
<button onclick="$('.tagsinput#queue-form-tags').addTag( 'deep');">Deep</button>
-->
<button onclick="$('.tagsinput#queue-form-tags').addTag( 'pending');">Pending</button>
<button onclick="$('.tagsinput#queue-form-tags').addTag( 'processing');">Processing</button>
<button onclick="$('.tagsinput#queue-form-tags').addTag( 'skipped');">Skipped</button>
<button onclick="$('.tagsinput#queue-form-tags').addTag( 'complete');">Complete</button>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<button onclick="$('.tagsinput#queue-form-tags').addTag( '{{ app.user.email }}');">My games</button>
{% else %}
<button onclick="$('.tagsinput#queue-form-tags').addTag( '');" disabled="disabled">My games</button>
(<a href="/connect">login</a> required)
{% endif %}
</span>

  <div class="analysisQueue" id="analysisQueue"></div>

<table style="width:100%"><tr>

{% if is_granted('ROLE_QUEUE_MANAGER') %}
<td>
<div id="delete_submit_group">
     <button type="submit"
             class="input_submit"
             style="margin-right: 15px;"
             onClick="deleteAnalysisList()"
>Delete
     </button>
</div>
</td>
<td>
<div id="promote_submit_group">
     <button type="submit"
             class="input_submit"
             style="margin-right: 15px;"
             onClick="promoteAnalysisList()"
>Promote
     </button>
</div>
</td>
{% endif %}

<td style="float:right;">
	<table><tr>
        <td><button onclick="setCookie('qa_page',0,1);loadQueue();">First</button></td>
        <td><button onclick="setCookie('qa_page','prev',1);loadQueue();">Prev</button></td>
        <td><button onclick="setCookie('qa_page','next',1);loadQueue();">Next</button></td></tr>
	</table>
</td></tr>
<tr><td>
<div id="analysisActionStatus"></div>
</td></tr></table>

</td>

<td valign="top">


<button class="q-accordion active-accordion">Analysis queue</button>
<div class="q-panel" style="max-height: 250px;">
  <p>All the games submitted for analysis are placed into the queue.
  Due to the lack of computing resources the system analyzes games one by one.</p>
  <p>It might take minutes, hours or even days before you game will be processed.
  Please only submit the games you really want to analyze.</p>
  <p>You can view current game place in the analysis queue in the <b>#</b> column.</p>
</div>

<button class="q-accordion">Fair queueing policy</button>
<div class="q-panel">
  <p>The system uses a <b>fair queueing policy</b> for new analysis requests.</p>
  <p>It means that the first game you submit is placed relatively close to the queue head.
  Each subsequent analysis request will be placed closer to the queue tail.</p>
  <p>This is done to prevent a single user from occupying the analysis queue with their only games.</p>
</div>

<button class="q-accordion">Estimated processing time</button>
<div class="q-panel">
  <p>The system gives you an estimation on when a particular game in the queue will be analyzed.
  Check the <b>Estimated</b> column.</p>
  <p>This estimate is based on the current analysis speed and available system resources.</p>
  <p>You will receive an email notification when a particular game has been analyzed.</p>
</div>

<button class="q-accordion">Analysis selection tags</button>
<div class="q-panel">
  <p>There are a lot of tags you can use to show only certain games in the queue.</p>
  <p>These are analysis status, analysis side, etc. Also you can only show the games you submitted for analysis.</p>
</div>

<button class="q-accordion">Promote game analysis</button>
<div class="q-panel">
  <p>Currently we do not allow to move particular game closer to the queue head
  in order to speed up analysis.</p>
  <p>But if you are analyzing a tournament <abbr title='Over the Board'>OTB</abbr> game
  and strongly believe the opponent was cheating,
  please contact our support team.</p>
</div>

<button class="q-accordion">Contact support team</button>
<div class="q-panel">
  <p>We are ready to answer all your questions.
  Please <a href="mailto:support@chesscheat.com?subject=queue" target="_blank">email us</a> and describe the issue in details.</p>
</div>

</td>

</tr>
</table>
</div>

<!-- Tab content -->
<div id="Analyze" class="tabcontent">

<table border=0><tr><td valign=top>
<div class="gameHeaderContainer">
 <div id="gamePlayers"	class="gamePlayers"></div>
 <div>
  <div class="gameEDRContainer">
   <div id="gameEDR"	class="gameEDR"></div>
  </div>
  <div id="boardFlip"	class="boardFlip">
   <a href="#" title='Flip the board'>
    <img src="img/flip.png"/>
   </a>
  </div>
 </div>
</div>
<div id="board" style="width: 400px"></div>
<div class="gameEFPContainer">
 <div>
  <div class="blockName"><abbr title='Encyclopedia of Chess Openings'>ECO</abbr>:</div>
  <div id="gameECO" class="gameECO"></div>
 </div>
 <br clear="all"/>
 <div>
  <div class="blockName"><abbr title='Forsyth–Edwards Notation'>FEN</abbr>:</div>
  <div id="gameFEN" class="gameFEN"></div>
 </div>
 <br clear="all"/>
 <div>
  <div class="blockName"><abbr title='Portable Game Notation'>PGN</abbr>:</div>
  <div class="gamePGNContainer">
   <div id="gamePGN" class="gamePGN"></div>
   <input type="hidden" id="game_being_analyzed" value=""/>
  </div>
 </div>
</div>

</td><td valign=top>
<div id="moveList" class="moveList"></div>
<div class="moveListButtons">
<input type="button" id="setStartBtn" value="Start Position" />
<input type="button" id="setPrevMove" value="Prev Move" />
<input type="button" id="setNextMove" value="Next Move" />
<input type="button" id="setPlayPause" value="Play/Pause" />
</div>

<div class="" style="position:absolute;">

<div id="mainContainer" class="mainContainer" style="z-index:0; position:absolute;visibility:hidden;">

  <p>ChessCheat was created as an attempt to fight growing problem
of cheating in online chess and <abbr title='Over the Board'>OTB</abbr> games.
More and more players are using different aplliances and gadgets
seeking for forbidden computer assistance.</p>

<p>If you feel the opponent was not following rules of fair play
you can upload your game to Chess Cheat and let us our
comprehensive system analyze it for you.</p>

<p>Once the game is analyzed it will assign a special Cheat score
for both White and Black player moves. Then you can compare
this score with other players, grandmasters and computers.</p>

<p>This analysis and evaluation can serve as a basis for official appeal.</p>

</div>

<div id="evaluationContainer" style="z-index:-1;position:absolute;visibility:hidden;">


<div id="evaluationInfo" class="evaluationInfo"></div>
<div class="moveVariationsContainer">

<!-- Do I actually need to show current move proposed line?
 <div>
  <div class="blockName">Move:</div>
  <div id="var0" class="variationLine"></div>
 </div>
-->

 <br/>
  <div id="varEval1" class="blockName"></div>
  <div id="var1" class="variationLine"></div>
 <br clear="all"/>
  <div id="varEval2" class="blockName"></div>
  <div id="var2" class="variationLine"></div>
 <br clear="all"/>
  <div id="varEval3" class="blockName"></div>
  <div id="var3" class="variationLine"></div>
 <br clear="all"/>
</div>
<br/>
<div id="legend" style="width: 500px"><b>Legend</b><br/>
<b><span class='mark_Best'>Best move</span></b>: equal evaluation to the best line<br/>
<b><span class='mark_Sound'>Sound move</span></b>: forced move, obvious recapture, single reasonable move, one of equal lines in drawish position<br/>
</div>

</div>

</td><td valign=top>

  <div class="w3-bar">
  <button class="side_button" id="whiteSide" onclick="updateCounters('White')">
  <img src="img/chesspieces/wikipedia/wK.png" width="48" alt="White" title="White"/>
  </button>
  <button class="side_button" id="blackSide" onclick="updateCounters('Black')">
  <img src="img/chesspieces/wikipedia/bK.png" width="48" alt="Black" title="Black"/>
  </button>
  </div>

  <div class="cheat-score" id="cheatScore">Cheat Score: 0</div>

<div class="" style="width:300px;position:absolute;">

<div id="accordionContainer" style="z-index:0; position:absolute;visibility:hidden;">

  <button class="a-accordion active-accordion">Analysis queue</button>
  <div class="a-panel" style="max-height: 250px;">
    <p>All the games submitted for analysis are placed to the queue.
    Due to the lack of resources the system analyzes games one by one.</p>
    <p>It might take minutes, hours or even days before you game will be processed.
    Please only submit the games you really want to analyze.</p>
    <p>Check the current game place in the queue shown in the <b>#</b> column.</p>
  </div>

  <button class="a-accordion">What is a cheat score?</button>
  <div class="a-panel">
    <p>Cheat score is a calculated abstract value assigned to a particular sequence of
    chess game moves for a given side, white or black.</p>
    <p>The exact formula is quite complicated and take into account many different
    criteria including some statistic values and probability coefficients.</p>
    <p>The cheat score is normalized to a <abbr title="Elo rating system">ELO</abbr> scale so you can easily compare it
    with actual player rating. Big delta is a sign of a suspected cheating.</p>
  </div>

  <button class="a-accordion">Item</button>
  <div class="a-panel">
    <p></p>
  </div>


  <button class="a-accordion">Request game analysis</button>
  <div class="a-panel">

    <p>You can request game analysis by
    specifying side to analyze <b>White/Black</b>,
    analysis depth <b>Fast/Deep</b> and clicking Submit.</p>
    <p>The game will be placed in the analysis queue and you will receive an email
    when the analysis is complete.</p>

    <table>
      <tr>
        <td>
          <label for="sideToAnalyze">Side to analyze</label>
          <select style="float:left;" name="sideToAnalyze" id="sideToAnalyze">
          <option value="">Both</option>
          <option value="WhiteSide">White</option>
          <option value="BlackSide">Black</option>
          </select>
        </td>
        <td>
          <label for="AnalysisDepth">Analysis type</label>
          <select style="float:left;" name="AnalysisDepth" id="AnalysisDepth">
          <option value="fast">Fast</option>
          <option value="deep">Deep</option>
          </select>
        </td>
        <td>
          <div id="analysis_submit">
               <button type="submit"
                       class="input_submit"
                       style="margin-right: 15px;"
                       onClick="processGame()"
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          {% else %}
          	disabled="disabled"
          {% endif %}
          >Submit
               </button>
          </div>
        </td>
      </tr>
      <tr><td style="height:30px" colspan="3"><div id="processGameStatus"></div></td></tr>
    </table>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% else %}
    <br/><span style="font-style:italic">You must <a href="/connect">login</a> before you can request analysis.</span>
    {% endif %}

  </div>

  <button class="a-accordion">Contact support team</button>
  <div class="a-panel">
    <p>We are ready to answer all your questions.
    Please <a href="mailto:support@chesscheat.com?subject=analysis" target="_blank">email us</a> and describe the issue in details.</p>
  </div>

</div>

<div id="countersContainer" style="z-index:-1;position:absolute;visibility:hidden;">

  <div id="counters" class="">Game details</div>

  <button class="c-accordion active-accordion">Contact support team</button>
  <div class="c-panel" style="max-height: 250px;">
    <p>We are ready to answer all your questions.
    Please <a href="mailto:support@chesscheat.com?subject=analysis" target="_blank">email us</a> and describe the issue in details.</p>
  </div>

</div>

</div>

</td></tr></table>

</div>

{% endblock %}

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>
<script src="js/chessboard-0.3.0.min.js"></script>
<script src="js/jquery.tagsinput-revisited.min.js"></script>
<script src="js/chesscheat.js"></script>

{% if is_granted('ROLE_QUEUE_MANAGER') %}
<script src="js/queue_manager.js"></script>
{% else %}
<script src="js/queue.js"></script>
{% endif %}

{% if is_granted('ROLE_GAMES_MANAGER') %}
<script src="js/games_manager.js"></script>
{% else %}
<script src="js/games.js"></script>
{% endif %}

{% endblock %}
