{% extends 'base.html.twig' %}

{% block title %}ChessCheat{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="css/chessboard-0.3.0.min.css" />
<link rel="stylesheet" href="css/jquery.tagsinput-revisited.min.css" />
<link rel="stylesheet" href="css/chesscheat.css" />
{% endblock %}

{% block body %}

<!-- Tab links -->
<div class="tab">
  <button onclick="openTab(event, 'Analyze')">
<table style="border:1px;margin:0;padding:0;">
<tr>
<td><img src="img/chesspieces/wikipedia/bK.png" width="48"/></td>
<td><img src="img/chesspieces/wikipedia/wQ.png" width="48"/></td>
<td style="padding-left:10px;"><span style="font-size:13pt;font-weight:bold;">CHESS<br/>CHEAT</span></td>
</tr>
</table>
  </button>
  <button class="tablinks" onclick="openTab(event, 'Upload')" id="uploadTab">
<img src="img/upload.png" style="float:left"/>&nbsp;&nbsp;Upload</button>
  <button class="tablinks" onclick="openTab(event, 'Search')" id="searchTab">
<img src="img/search.png" style="float:left"/>&nbsp;&nbsp;Search</button>
  <button class="tablinks" onclick="openTab(event, 'Queue')" id="queueTab">
<img src="img/queue.png" style="float:left"/>&nbsp;&nbsp;Queue</button>
  <button class="tablinks" onclick="openTab(event, 'Analyze')" id="analysisTab">
<img src="img/analysis.png" style="float:left"/>&nbsp;&nbsp;Analyze</button>
</div>

<div style="float:right;">
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
{{ app.user.email }}&nbsp;<a href="/logout">Logout</a>
{% else %}
<a href="/connect">Login</a>
{% endif %}
</div>

<!-- Tab content -->
<div id="Upload" class="tabcontent">
  <h3>Upload Game(s)</h3>

{{ form_start(form) }}

<p>You can upload your own games into our database. Then you will be able to submit your games for processing. Once it is complete you can analyze your games.<br/>
Use the form below to upload your games.</p>
<p>Maximum file size is 1M</p>
<p>Allowed file types are .pgn and .txt
<!--
 or archives .zip .gz
-->
</p>

    {{ form_row(form.pgn) }}

<!--
<p>Now, solve simple chess captcha in order to prevent automated uploads.</p>
-->

    <input type="submit" value="Upload PGN" name="submit"
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
{% else %}
	disabled="disabled"
{% endif %}
>
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
{% else %}
    <br/><span style="font-style:italic">You must <a href="/connect">login</a> before you can upload your games.</span>
{% endif %}

{{ form_end(form) }}
</div>

<!-- Tab content -->
<div id="Search" class="tabcontent">
<table><tr><td style="vertical-align:top">
  <h3>Predefined Tags</h3>
<div class="predefinedTags">
<b>Game result</b><br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( '1-0');" checked="checked">White wins<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( '0-1');">Black wins<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( '1/2-1/2');">Draw<br/>
<b>Final position</b><br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'checkmate');" checked="checked">Checkmate<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'checkmate by king');">Checkmate by King<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'checkmate by pawn');">Checkmate by Pawn<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'checkmate by rook');">Checkmate by Rook<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'checkmate by queen');">Checkmate by Queen<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'checkmate by bishop');">Checkmate by Bishop<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'checkmate by knight');">Checkmate by Knight<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'stalemate');">Stalemate<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'stalemate by king');">Stalemate by King<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'stalemate by pawn');">Stalemate by Pawn<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'stalemate by rook');">Stalemate by Rook<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'stalemate by queen');">Stalemate by Queen<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'stalemate by bishop');">Stalemate by Bishop<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'stalemate by knight');">Stalemate by Knight<br/>
<b>Analysis</b><br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'pending');">Pending<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'processing');">Processing<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'complete');" checked="checked">Complete<br/>
<b><abbr title='Encyclopedia of Chess Openings'>ECO</abbr> codes</b><br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'D44');">D44<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'E99');">E99<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'A41');">A41<br/>
<b>Special tags</b><br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'effectiveResult');">effective result<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'resultMismatch');">result mismatch<br/>
<b>Engines</b><br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'Stockfish 051117');">Stockfish 051117<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'Houdini 6.02');">Houdini 6.02<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'Deep Fritz 10');">Deep Fritz 10<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'Comp Deep Blue');">Comp Deep Blue<br/>
<!--
-->
<b>Players</b><br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'Anand, Viswanathan');">Anand, Viswanathan<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'Kramnik, Vladimir');">Kramnik, Vladimir<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'Kasparov, Gary');">Kasparov, Gary<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'lemon79');">lemon79<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'Tutolmin,A');">Tutolmin,A<br/>
<b>Cheaters</b><br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'lnechessm');">lnechessm<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'Daldrup');">Daldrup<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'Fili1981');">Fili1981<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'bss180');">bss180<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'snukerok');">snukerok<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'DNISTER62');">DNISTER62<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( 'Magic2240');">Magic2240<br/>
<!--
<b># of moves</b><br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( '10 moves');">10 moves<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( '20 moves');">20 moves<br/>
<b># of deltas</b><br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( '5 deltas');">5 deltas<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( '10 deltas');">10 deltas<br/>
<b># of analyzed plies</b><br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( '10 qplies');">10 qplies<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( '10 qplies');">20 qplies<br/>
<b>ELO range</b><br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( '1000+');">1000+<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( '2000+');">2000+<br/>
<input type="checkbox" onclick="$('.tagsinput#form-tags').addTag( '1500-');">1500-<br/>
-->
</div>
</td>
<td style="vertical-align:top">
  <p>Enter player name, result or start typing to select tag from the dropdown list. You can also use predefined tags on the left.</p>
  <span style="font-size:22pt;float:left;">Tags:&nbsp;
  <button style="float:right;" onclick="$('.tagsinput#form-tags').importTags( '');">Delete all tags</button>
  </span><form id="form"><input id="form-tags" name="tags" class="tagsinput" type="text"></form>

  <div class="gameList" id="gameList"></div>

<table style="width:100%"><tr><td>
<select style="float:left;" name="sideToAnalyzeGroup" id="sideToAnalyzeGroup">
<option value="">Both sides</option>
<option value="WhiteSide">White Only</option>
<option value="BlackSide">Black Only</option>
</select>
<select style="float:left;" name="AnalysisDepthGroup" id="AnalysisDepthGroup">
<option value="">18+ plies</option>
<option value="20">20+ plies</option>
<option value="23">23+ plies</option>
</select>
<div id="analysis_submit_group">
     <button type="submit"
             class="input_submit"
             style="margin-right: 15px;"
             onClick="processGameList()"
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
{% else %}
	disabled="disabled"
{% endif %}
>Submit games for analysis
     </button>
</div><br/><div id="processGameStatusGroup"></div>
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
{% else %}
<br/><span style="font-style:italic">You must <a href="/connect">login</a> before you can request analysis.</span>
{% endif %}
</td>
<td>
<div id="export_submit_group">
     <button type="submit"
             class="input_submit"
             style="margin-right: 15px;"
             onClick="exportGameList()"
>Export PGN
     </button>
</div>
</td>
<td style="float:right;">
	<table><tr>
        <td><button onclick="setCookie('gl_page',0,1);loadGames();">First</button></td>
        <td><button onclick="setCookie('gl_page','prev',1);loadGames();">Prev</button></td>
        <td><button onclick="setCookie('gl_page','next',1);loadGames();">Next</button></td></tr>
	</table>
</td></tr></table>

</td>
</tr>
</table>
</div>

<div id="Queue" class="tabcontent">
<table><tr><td style="vertical-align:top">
  <h3>Predefined Tags</h3>
<div class="predefinedTags">
<b>My games</b><br/>
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<input type="checkbox" onclick="$('.tagsinput#queue-form-tags').addTag( '{{ app.user.email }}');"
{% else %}
<input type="checkbox" onclick="$('.tagsinput#queue-form-tags').addTag( '');" disabled="disabled"
{% endif %}
>My games<br/>
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
{% else %}
(<a href="/connect">login</a> required)<br/>
{% endif %}
<b>Side</b><br/>
<input type="checkbox" onclick="$('.tagsinput#queue-form-tags').addTag( 'white');">White<br/>
<input type="checkbox" onclick="$('.tagsinput#queue-form-tags').addTag( 'black');">Black<br/>
<b>Status</b><br/>
<input type="checkbox" onclick="$('.tagsinput#queue-form-tags').addTag( 'pending');" checked="checked">Pending<br/>
<input type="checkbox" onclick="$('.tagsinput#queue-form-tags').addTag( 'processing');">Processing<br/>
<input type="checkbox" onclick="$('.tagsinput#queue-form-tags').addTag( 'skipped');">Skipped<br/>
<input type="checkbox" onclick="$('.tagsinput#queue-form-tags').addTag( 'evaluated');">Evaluated<br/>
<input type="checkbox" onclick="$('.tagsinput#queue-form-tags').addTag( 'exported');">Exported<br/>
<input type="checkbox" onclick="$('.tagsinput#queue-form-tags').addTag( 'complete');">Complete<br/>
</div>
</td>
<td style="vertical-align:top">
  <p>Enter player name, event, result or start typing to select tag from the dropdown list. You can also select from a predefined list of tags below.</p>
  <span style="font-size:22pt;float:left;">Tags:&nbsp;
  <button style="float:right;" onclick="$('.tagsinput#queue-form-tags').importTags( '');loadQueue();">Delete all tags</button>
  </span><form id="queue_form"><input id="queue-form-tags" name="tags" class="tagsinput" type="text"></form>

  <div class="analysisQueue" id="analysisQueue"></div>

<table style="width:100%"><tr>

{% if is_granted('ROLE_QUEUE_MANAGER') %}
<td>
<div id="delete_submit_group">
     <button type="submit"
             class="input_submit"
             style="margin-right: 15px;"
             onClick="deleteAnalysisList()"
>Delete
     </button>
</div>
</td>
<td>
<div id="promote_submit_group">
     <button type="submit"
             class="input_submit"
             style="margin-right: 15px;"
             onClick="promoteAnalysisList()"
>Promote
     </button>
</div>
</td>
{% endif %}

<td style="float:right;">
	<table><tr>
        <td><button onclick="setCookie('qa_page',0,1);loadQueue();">First</button></td>
        <td><button onclick="setCookie('qa_page','prev',1);loadQueue();">Prev</button></td>
        <td><button onclick="setCookie('qa_page','next',1);loadQueue();">Next</button></td></tr>
	</table>
</td></tr>
<tr><td>
<div id="analysisActionStatus"></div>
</td></tr></table>

</td>
</tr>
</table>
</div>

<!-- Tab content -->
<div id="Analyze" class="tabcontent">

<table border=0><tr><td valign=top>
<div id="header" style="width: 525px">Game header</div>
<!-- start example HTML -->
<div id="board" style="width: 500px"></div>
<div style="float: left;">
<input type="button" id="setStartBtn" value="Start Position" />
<input type="button" id="setPrevMove" value="Prev Move" />
<input type="button" id="setNextMove" value="Next Move" />
<input type="button" id="setPlayPause" value="Play/Pause" />
</div>
<div style="float: right;">
<input type="button" id="flipBoard" value="Flip Board" />
</div>
<br style="clear:all" />
<!-- end example HTML -->
<div id="position" style="width: 525px;">Position details</div>

<div>
<input type="hidden" id="game_being_analyzed" value=""/>

<select style="float:left;" name="sideToAnalyze" id="sideToAnalyze">
<option value="">Both sides</option>
<option value="WhiteSide">White Only</option>
<option value="BlackSide">Black Only</option>
</select>
<select style="float:left;" name="AnalysisDepth" id="AnalysisDepth">
<option value="">18+ plies</option>
<option value="20">20+ plies</option>
<option value="23">23+ plies</option>
</select>
<div id="analysis_submit">
     <button type="submit" 
             class="input_submit" 
             style="margin-right: 15px;" 
             onClick="processGame()"
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
{% else %}
	     disabled="disabled"
{% endif %}
     >Submit for analysis
     </button>
</div>
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
{% else %}
<br/><span style="font-style:italic">You must <a href="/connect">login</a> before you can request analysis.</span>
{% endif %}

<div id="export_submit" style="float:right;">
     <button type="submit"
             class="input_submit"
             style="margin-right: 15px;"
             onClick="exportGame()"
>Export PGN
     </button>
</div>
<br/>
<div id="processGameStatus"></div>
</td><td valign=top>
<div id="movelist" style="width: 600px; overflow:auto; height:700px;">Move list</div>
<br/>
<div id="legend" style="width: 400px"><b>Legend</b><br/>
<b><span class='mark_Best'>Best move</span></b>: equal evaluation to the best line<br/>
<b><span class='mark_Sound'>Sound move</span></b>: forced move, obvious recapture, single reasonable move, one of equal lines in drawish position<br/>
</div>
</td><td valign=top>
<div id="counters" style="width: 400px">Game details</div>
</td></tr></table>

</div>

{% endblock %}

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>
<script src="js/chessboard-0.3.0.min.js"></script>
<script src="js/jquery.tagsinput-revisited.min.js"></script>
<script src="js/chesscheat.js"></script>
{% if is_granted('ROLE_QUEUE_MANAGER') %}
<script src="js/queue_manager.js"></script>
{% else %}
<script src="js/queue.js"></script>
{% endif %}
{% endblock %}

